<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
     
    <body>
        <form th:action="@{/guardar_tarea}" method="post" th:object="${tarea}">
            <div class="form-group">
              <label for="InputNombre">Nombre</label>
              <input type="text" class="form-control" id="InputNombre" placeholder="Introduzca nombre de usuario" th:field="*{nombre}">
            </div>
            <div class="form-group">
              <label for="InputContrasena">Usuario</label>
              <input name= "id_usuario" type="number" class="form-control" id="InputContrasena" placeholder="id_Usuario">
            </div>
            <div>
                <select>
                    <option th:each="usuario:${usuarios}" th:text="${usuario.id_Usuario}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </body>
</html>
